body
    background color #efefef
    flex-direction column

div
    outline 1px solid #ccc

.configuration
    display flex
    flex 1
    flex-direction row

.team-list
    display flex
    flex 2

.eligible-teams
    display flex
    flex 1

.run
    display flex
    flex 2
    flex-direction row

.patient-detail
    display flex
    flex 2

.eligible-teams
    display flex
    flex 1

.history
    display flex
    flex 1
